<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> </title>
</head>

<body>
    <h1>Список врачей</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th><th>ФИО</th><th>Специальности</th><th></th><th></th><th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="doctor : ${doctors}">
                <td th:text="${doctor.id}">
                <td th:text="${doctor.user.fullName}">
<!--                <td th:text="${doctor.specialities}">-->
                <td th:each="speciality : ${doctor.specialities}">
                    <label th:text="${speciality.name}"></label></td>
                <td><label th:text="${doctor.isActive} ? 'Активный' : 'Не активный'"></label></td>
                <td><a th:href="@{/adminPage/doctors/{id}(id=${doctor.id})}">Изменить</a></td>
                <td><a th:href="@{/adminPage/doctors/{id}/ban(id=${doctor.id})}"><label th:text="${doctor.isActive} ?
                    'Заблокировать' : 'Разблокировать'"></label></a></td>
                <td><a th:href="@{/adminPage/appointments/add/{id}(id=${doctor.id})}">Записать на приём</a></td>
            </tr>
        </tbody>
    </table>
    <div>&nbsp;</div>
    <div><a href="/adminPage/doctors/add">Добавить</a></div>
    <div>&nbsp;</div>
    <div><a href="/">Вернуться на главную страницу</a></div>

</body>

</html>